:root {                    /*Es un Custome Property util para definir los colores*/
    --blanco: #ffffff;  /*Creo mi propia paleta de colores*/
    --negro: #212121;
    --amarillo: #ff9300;
    --azul: #0000FF;
    --gris: #757575;    

    


    /*Tambien puedo configurar otros detalles como por ejemplo*/

    --fuente--principal: 3.8rem;
}

html {
    font-size: 62.5%;   /*Colocar estas lineas de Html y body en todos los proyecto*/
    box-sizing: border-box; /*Agrego esta referencia */ 
}

*, *:before, *:after {
    box-sizing: inherit;  /*Agrego esta referencia */ 
}

body {
    font-size:16px; /*1rem  =  10px* con el coment de arriba puedo trabajar mejor los rem*/
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    /*font-size: var(--fuente--principal); Lo reemplazo para utilizar mis variale creada en root*/
    
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;  /*Le digo que tome máximo 1200 px o 120 rem */
   /* width: 120rem; le agrego max-width para aplicar responsive disign"
   /* margin-top: 0; */  /*Margen arriba*/
   /* margin-right: auto; */  /*Margen a la derecha*/
   /* margin-bottom: 0; */ /*Margen a abajo*/
   /* margin-left: auto; */ /* Margen a la izquierda */

   /* margin: 0 auto 0 auto; */ /*Este codigo hace lo mismo que de arriba*/

    margin: 0 auto;  /*cuando todos los margenes de repiten puedo colocar solo los dos primeros*/
} 

.nav-bg {
    background-color: var(--azul);
}


.navegacion-principal {
    display: flex;  /*habilito flexbox para editar opciones de menu. Tener en cuenta la clase padre*/
    flex-direction: column;  /*para volver el menu responsive */
    justify-content: space-between; /*distribuye opciones de menu de manera uniforme*/
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row; /*para volver el menu responsive */
    }
}

.navegacion-principal a {
    display: block;   /*Agrego esta linea para centrar opciones de menu en pantallas moviles */
    text-align: center;  /*Agrego esta linea para centrar opciones de menu en pantallas moviles */
    color: var(--blanco);  /* Cambio el color del texto del menu*/
    text-decoration: none;  /*Quito la linea de abajo en los texto*/
    font-size: 2rem;  /*tamaño del a letra del menu*/
    font-weight: 700;  /*colocar en negrilla - ambien puedo cambiar el valor 700 por la palabral bold*/
    padding: 1rem;  /*Agrega un 1rem de espacio al rededor del contenedor*/
}

.navegacion-principal a:hover {   /*esto es un pseudoclase le da efecto al boton */
    background-color: var(--amarillo);
    color: var(--negro);
    
}

.hero {
    background-image: url(../img/hero.jpg); /*llamo la foto para el fondo*/
    background-repeat: no-repeat;  /*para que no se repita la imagen*/
    background-size: cover;       /*para que ocupe todo el ancho de la pantalla*/
    height: 41rem;
    /*padding: 2rem;  lo quito para que la sombra coja toda la imagen*/  
    position: relative;   /*para la sompbra el padre queda con posicion relativa siempre*/

}
.contenido-hero {
    position: absolute;  /*para la sompbra el hijo queda con posicion absoluta*/
    background-color: rgba( 0,0,0, .7); /*Dejo esta sintaxis porque es la vieja */
    background-color: rgb(0 0 0 / 70%); /*nueva sintaxi pero tiene soporte en todos los navegadores*/
    width: 100%;
    height: 100%;

}