:root {                    /*Es un Custome Property util para definir los colores*/
    --blanco: #ffffff;  /*Creo mi propia paleta de colores*/
    --negro: #212121;
    --amarillo: #ff9300;
    --azul: #0000FF;
    --gris: #757575;
    --azulclaro: #4F57EF;


    /*Tambien puedo configurar otros detalles como por ejemplo*/
    --fuente--principal: 3.8rem;
}

/*Gobales*/
html {
    font-size: 62.5%;   /*Colocar estas lineas de Html y body en todos los proyecto*/
    box-sizing: border-box; /*hack para box model */ 
    scroll-snap-type: y mandatory; /*al escrolear para en cada seccion de la página*/
}

/*Scroll Sanp*/

.servicios, 
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-padding-top: always;
}

*, *:before, *:after {
    box-sizing: inherit;  /*Agrego esta referencia */ 
}

body {
    font-size:16px; /*1rem  =  10px* con el coment de arriba puedo trabajar mejor los rem*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--azulclaro) 0%, var(--blanco) 100% );
}   

.sombra {
    sombra de cuadro: 4px 4px 5px 0px rgba(109,103,103,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(109,103,103,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(109,103,103,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 0.5rem;

}


h1 {
    font-size: 3.8rem;
}

h2 {

    font-size: 2.8rem;

}

h3 {

    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.boton {
    background-color: var(--azul);
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;      /*para separar un poco el boton de la parte de arriba*/
    font-size: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase; /*para volver el texto en mayusculas*/
    font-weight: bold;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
    
}

.boton:hover {
    cursor: pointer;
}

.titulo span {
    font-size: 2rem;
}

/*Utilidades*/

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }

}

.flex {
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

.contenedor {
    max-width: 120rem;  /*Le digo que tome máximo 1200 px o 120 rem */
   /* width: 120rem; le agrego max-width para aplicar responsive disign"
   /* margin-top: 0; */  /*Margen arriba*/
   /* margin-right: auto; */  /*Margen a la derecha*/
   /* margin-bottom: 0; */ /*Margen a abajo*/
   /* margin-left: auto; */ /* Margen a la izquierda */

   /* margin: 0 auto 0 auto; */ /*Este codigo hace lo mismo que de arriba*/

    margin: 0 auto;  /*cuando todos los margenes de repiten puedo colocar solo los dos primeros*/
} 



.nav-bg {
    background-color: var(--azul);
}


.navegacion-principal {
    display: flex;  /*habilito flexbox para editar opciones de menu. Tener en cuenta la clase padre*/
    flex-direction: column;  /*para volver el menu responsive */
    justify-content: space-between; /*distribuye opciones de menu de manera uniforme*/
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row; /*para volver el menu responsive */
    }
}

.navegacion-principal a {
    display: block;   /*Agrego esta linea para centrar opciones de menu en pantallas moviles */
    text-align: center;  /*Agrego esta linea para centrar opciones de menu en pantallas moviles */
    color: var(--blanco);  /* Cambio el color del texto del menu*/
    text-decoration: none;  /*Quito la linea de abajo en los texto*/
    font-size: 2rem;  /*tamaño del a letra del menu*/
    font-weight: 700;  /*colocar en negrilla - ambien puedo cambiar el valor 700 por la palabral bold*/
    padding: 1rem;  /*Agrega un 1rem de espacio al rededor del contenedor*/
}

.navegacion-principal a:hover {   /*esto es un pseudoclase le da efecto al boton */
    background-color: var(--amarillo);
    color: var(--negro);
    
}

.hero {
    background-image: url(../img/hero.jpg); /*llamo la foto para el fondo*/
    background-repeat: no-repeat;  /*para que no se repita la imagen*/
    background-size: cover;       /*para que ocupe todo el ancho de la pantalla*/
    height: 41rem;
    /*padding: 2rem;  lo quito para que la sombra coja toda la imagen*/  
    position: relative;   /*para la sompbra el padre queda con posicion relativa siempre*/
    margin-bottom: 2rem;   /*Lo agrego para separa un poco la imagen de la caja de servicios*/ 

}
.contenido-hero {
    position: absolute;  /*para la sompbra el hijo queda con posicion absoluta*/
    background-color: rgba( 0,0,0, .7); /*Dejo esta sintaxis porque es la vieja */
    background-color: rgb(0 0 0 / 70%); /*nueva sintaxi pero tiene soporte en todos los navegadores*/
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

/*Servicios*/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem; /*Me da una separacion entre las columnas */
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--azul);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
    font-weight: normal;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--amarillo);
    border-radius: 50%;  /*Si tengo un cuadrado de 15rem el border-radius a 50% es un circulo perfecto*/
    display: flex;
    justify-content: space-evenly; /*separa mejor los iconos en los circulor ver variedad en impeccionar navegador*/
    align-items: center;
}

/** Contacto **/

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin:  auto;
    padding: 2rem;
    border-radius: 1rem;    /*Utiliza el valor mas pequeño*/

}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--amarillo);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }    

    .campo:nth-child(3), /*reviso la posicion de la clase que quiero tomar en cuenta*/
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }

}



.formulario fieldset {
    border: none;  /**quita el borde que coloca por defecto al rededor del formulario**/
}

.campos {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;

}

.campo textarea {
    height: 20rem;
}


.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}


/**Footer**/

.footer {
    text-align: center;
}

